body {
    color: #333333;
    font-family: sans-serif ;
}

/* [ヘッダー] */

#pageHead .menuFix {
    width: 1250px;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
}

/* ヘッダー全体float clear-fix */

#pageHead .menuFix:after {
    content: "";
    clear: both;
    display: block;
}

/* サイトタイトルロゴ */

#pageHead .menuFix .siteTitle-logo {
    float: left;
    margin: 12px 0 12px 36px;
}

/* グローバルナビ */

#pageHead .menuFix .globalNavi {
    float: left;
    height: 60px;
}

#pageHead .menuFix .globalNavi ul {
    padding-left: 130px;
    height: 100%;
    margin: 0;
}

#pageHead .menuFix .globalNavi ul li {
    list-style: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
}

#pageHead .menuFix .globalNavi ul li a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 22px 0;
    margin: 0 5px
}

#pageHead .menuFix .globalNavi ul li a:hover {
    color: #0c419a;
}

#pageHead .menuFix .globalNavi ul li a:hover {
    transition: 0.2s linear;
    border-bottom: solid 2px #0c419a;
}

/* サイドナビ */

#pageHead .menuFix .sideNavi {
    float: right;
    height: 60px;
}

#pageHead .menuFix .sideNavi ul {
    height: 100%;
    margin: 0;
}

#pageHead .menuFix .sideNavi ul li {
    list-style: none;
    float: left;
}

#pageHead .menuFix .sideNavi ul li a {
    display: inline-block;
    padding: 18px 15px;
}

#pageHead .menuFix .sideNavi ul li a:hover {
    opacity: 0.5;
}

/* パンくずナビ */

#pageHead .topicPath {
    font-size: 12px;
    margin: 0 0 0 36px;
    padding-top: 63px;
}

#pageHead .topicPath a {
    text-decoration: none;
    color: #999999;
}

#pageHead .topicPath span {
    color: #999999;
}

/* ページボディ */

/* メインビジュアル、テキスト */

#pageBodyMain .mainVisual {
    position: relative;
    margin-top: 30px;
}

#pageBodyMain .mainVisual .mainVisualText {
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 10%;
    margin: 0 auto;
}

#pageBodyMain .mainVisual .mainVisualText p {
    margin: 0;
    font-size: 20px;
}

#pageBodyMain .mainVisual .mainVisualText h2 {
    margin: 16px 0 10px;
    font-size: 28px;
}

/* メインビジュアル、画像 */

#pageBodyMain .mainVisual img {
    height: 250;
    object-fit: cover;
}

/* ページボディサイズ格納 */
#pageBodyMain .pageBodyMain-container {
    width: 820px;
    margin: 0 auto;
}

/* snsリンクA */

#pageBodyMain .pageBodyMain-container .snsLink-typeA {
    width: 172px;
    height: 34px;
    margin: 30px 0 0 628px;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA p {
    float: left;
    margin: 6px 0;
    font-size: 12px;
    font-weight: bold;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA ul {
    float: right;
    margin: 0;
    padding: 0;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA ul li {
    list-style: none;
    float: left;
    padding-left: 20px;
    margin: 0;
}

/* メイン記事 */

#pageBodyMain .pageBodyMain-container .articleDetail:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .articleDetail h2 {
    color: #000000;
    font-size: 22px;
    padding-left: 32px;
    background-image: url("../images/article-icon.png");
    background-repeat: no-repeat;
    background-size: 22px;
    margin: 40px 0 30px;
}

#pageBodyMain .pageBodyMain-container .articleDetail p {
    font-size: 16px;
    line-height: 1.875;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleDetail-Text1 {
    margin: 0 0 16px 0;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleDetail-Text2 {
    margin: 0;
}

/* ボタン */

#pageBodyMain .pageBodyMain-container .articleDetail .btn {
    margin: 40px auto 80px;
    width: 300px;
    height: 70px;
    background-color: #005BAC;
    font-size: 16px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
} 

#pageBodyMain .pageBodyMain-container .articleDetail .btn:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 19px 21.29px;
    background-image: url("../../images/pdf-icon.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 70% 65%;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a:before {
    color: #FFFFFF;
    content: "⟩";
    font-size: 5px;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

/* メイン記事下リンク左右 */

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left {
    float: left;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left a {
    text-decoration: none;
    color: #014C9A;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left a:hover {
    text-decoration: underline;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right {
    float: right;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right a {
    text-decoration: none;
    color: #014C9A;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right a:hover {
    text-decoration: underline;
}

/* メイン記事下6記事 */

#pageBodyMain .pageBodyMain-container .articleNavi {
    width: 800px;
    height: 241px;
    margin: 40px auto 0;
    padding: 20px;
    background-color: #DEECF8;
    box-sizing: border-box;
}

#pageBodyMain .pageBodyMain-container .articleNavi h3 {
    margin: 10px 0 20px;
    font-size: 16px;
    font-weight: bold;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul {
    margin: 0;
    padding: 0;
    width: 800px;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li {
    font-size: 16px;
    list-style: none;
    background-color: #FFFFFF;
    float: left;
    text-align: center;
    border: 1px solid #CCCCCC;
    margin: 0 10px 20px;
    position: relative;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:hover {
    background-color: #F4F4F4;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3n+1) {
    margin-left: 0;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3n) {
    margin-right: 0;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(1), {
    height: 70px;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(2),
#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3) {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pageBodyMain .pageBodyMain-container .articleNavi ul li a {
    color: #0C419A;
    text-decoration: none;
    width: 239.98px;
    box-sizing: border-box;
    padding: 15px 20px;
    display: inline-block;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li a:before {
    content: "⟩";
    font-size: 5px;
    position: absolute;
    left: 10px;
    bottom: 40%;
}