@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
}

/* [ヘッダー] */

#pageHead .menuFix {
    width: 1250px;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
}

/* ヘッダー全体float clear-fix */

#pageHead .menuFix:after {
    content: "";
    clear: both;
    display: block;
}

/* サイトタイトルロゴ */

#pageHead .menuFix .siteTitle-logo {
    float: left;
    margin: 12px 0 12px 36px;
}

/* グローバルナビ */

#pageHead .menuFix .globalNavi {
    float: left;
    height: 60px;
}

#pageHead .menuFix .globalNavi ul {
    padding-left: 160px;
    height: 100%;
    margin: 0;
}

#pageHead .menuFix .globalNavi ul li {
    list-style: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}

#pageHead .menuFix .globalNavi ul li a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 22px 0;
    margin: 0 5px
}

#pageHead .menuFix .globalNavi ul li a:hover {
    color: #0c419a;
}

#pageHead .menuFix .globalNavi ul li a:hover {
    transition: 0.2s linear;
    border-bottom: solid 2px #0c419a;
}

/* サイドナビ */

#pageHead .menuFix .sideNavi {
    float: right;
    height: 60px;
}

#pageHead .menuFix .sideNavi ul {
    height: 100%;
    margin: 0;
}

#pageHead .menuFix .sideNavi ul li {
    list-style: none;
    float: left;
}

#pageHead .menuFix .sideNavi ul li a {
    display: inline-block;
    padding: 18px 15px;
}

#pageHead .menuFix .sideNavi ul li a:hover {
    opacity: 0.5;
}

/* パンくずナビ */

#pageHead .topicPath {
    font-size: 12px;
    margin: 0 0 0 36px;
    padding-top: 63px;
}

#pageHead .topicPath a {
    text-decoration: none;
    color: #999999;
}

#pageHead .topicPath span {
    color: #999999;
}

/* ページボディ */

/* メインビジュアル、テキスト */

#pageBodyMain .mainVisual {
    position: relative;
    margin-top: 30px;
}

#pageBodyMain .mainVisual .mainVisualText {
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 10%;
    margin: 0 auto;
}

#pageBodyMain .mainVisual .mainVisualText p {
    margin: 0;
    font-size: 20px;
}

#pageBodyMain .mainVisual .mainVisualText h2 {
    margin: 16px 0 10px;
    font-size: 28px;
}

/* メインビジュアル、画像 */

#pageBodyMain .mainVisual img {
    height: 250;
    object-fit: cover;
}

/* ページボディサイズ格納 */
#pageBodyMain .pageBodyMain-container {
    width: 820px;
    margin: 0 auto;
}

/* snsリンクA */

#pageBodyMain .pageBodyMain-container .snsLink-typeA {
    width: 172px;
    height: 34px;
    margin: 30px 0 0 628px;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA p {
    float: left;
    margin: 6px 0;
    font-size: 12px;
    font-weight: bold;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA ul {
    float: right;
    margin: 0;
    padding: 0;
}

#pageBodyMain .pageBodyMain-container .snsLink-typeA ul li {
    list-style: none;
    float: left;
    padding-left: 20px;
    margin: 0;
}

/* メイン記事 */

#pageBodyMain .pageBodyMain-container .articleDetail:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .articleDetail h2 {
    color: #000000;
    font-size: 22px;
    padding-left: 32px;
    background-image: url("../images/article-icon.png");
    background-repeat: no-repeat;
    background-size: 22px;
    margin: 40px 0 30px;
}

#pageBodyMain .pageBodyMain-container .articleDetail p {
    font-size: 16px;
    line-height: 1.875;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleDetail-Text1 {
    margin: 0 0 16px 0;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleDetail-Text2 {
    margin: 0;
}

/* ボタン */

#pageBodyMain .pageBodyMain-container .articleDetail .btn {
    margin: 40px auto 80px;
    width: 300px;
    height: 70px;
    background-color: #005BAC;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
} 

#pageBodyMain .pageBodyMain-container .articleDetail .btn:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 19px 21.29px;
    background-image: url("../../images/pdf-icon.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 70% 65%;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a:before {
    color: #FFFFFF;
    content: "⟩";
    font-size: 5px;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

#pageBodyMain .pageBodyMain-container .articleDetail .btn a:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

/* メイン記事下リンク左右 */

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left {
    float: left;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left a {
    text-decoration: none;
    color: #014C9A;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-left a:hover {
    text-decoration: underline;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right {
    float: right;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right a {
    text-decoration: none;
    color: #014C9A;
}

#pageBodyMain .pageBodyMain-container .articleDetail .articleLink-right a:hover {
    text-decoration: underline;
}

/* メイン記事下6記事 */

#pageBodyMain .pageBodyMain-container .articleNavi {
    width: 800px;
    height: 241px;
    margin: 40px auto 0;
    padding: 20px;
    background-color: #DEECF8;
    box-sizing: border-box;
}

#pageBodyMain .pageBodyMain-container .articleNavi h3 {
    margin: 10px 0 20px;
    font-size: 16px;
    font-weight: bold;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul {
    margin: 0;
    padding: 0;
    width: 800px;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li {
    font-size: 16px;
    list-style: none;
    background-color: #FFFFFF;
    float: left;
    text-align: center;
    border: 1px solid #CCCCCC;
    margin: 0 10px 20px;
    position: relative;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:hover {
    background-color: #F4F4F4;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3n+1) {
    margin-left: 0;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3n) {
    margin-right: 0;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(1), {
    height: 70px;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(2),
#pageBodyMain .pageBodyMain-container .articleNavi ul li:nth-child(3) {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pageBodyMain .pageBodyMain-container .articleNavi ul li a {
    color: #0C419A;
    text-decoration: none;
    width: 239.98px;
    box-sizing: border-box;
    padding: 15px 20px;
    display: inline-block;
}

#pageBodyMain .pageBodyMain-container .articleNavi ul li a:before {
    content: "⟩";
    font-size: 5px;
    position: absolute;
    left: 10px;
    bottom: 40%;
}

/* メイン記事・企業情報 */

#pageBodyMain .companyInfo {
    width: 1020px;
    margin: 120px auto 100px;
}

#pageBodyMain .companyInfo h2 {
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid #333333;
    padding: 18px 0 30px;
    margin: 0;
}

#pageBodyMain .companyInfo .companyInfo-list {
    width: 1020px;
    border-top: 1px dotted #999999;
    padding: 30px 0;
}

#pageBodyMain .companyInfo .companyInfo-list:nth-child(6) {
    border-bottom: 1px dotted #999999;
}

#pageBodyMain .companyInfo .companyInfo-list h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.66;
    font-weight: bold;
}

#pageBodyMain .companyInfo .companyInfo-list ul {
    margin: 0;
    padding: 0;
}

#pageBodyMain .companyInfo .companyInfo-list ul:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .companyInfo .companyInfo-list ul li {
    font-size: 14px;
    list-style: none;
    float: left;
    width: 255px;
    height: 41px;
    position: relative;
}

#pageBodyMain .companyInfo .companyInfo-list ul li a {
    color: #0C419A;
    text-decoration: none;
    width: 235px;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding-left: 15px;
}

#pageBodyMain .companyInfo .companyInfo-list ul li a:hover {
    text-decoration: underline;
}

#pageBodyMain .companyInfo .companyInfo-list ul li a:before {
    content: "⟩";
    font-size: 2px;
    position: absolute;
    left: 0;
    color: #333333;
}

/* 前のページに戻る */

#pageBodyMain .companyInfo .pageBack {
    margin-top: 70px;
    font-size: 16px;
    position: relative;
}

#pageBodyMain .companyInfo .pageBack a {
    color: #0C419A;
    text-decoration: none;
    padding-left: 15px;
}

#pageBodyMain .companyInfo .pageBack a:hover {
    text-decoration: underline;
}

#pageBodyMain .companyInfo .pageBack a:before {
    content: "⟨";
    font-size: 2px;
    position: absolute;
    left: 0;
    bottom: 30%;
    color: #333333;
}

/* メイン記事・SNSリンクタイプB */

#pageBodyMain .snsLink-typeB {
    padding: 30px 0;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageBodyMain .snsLink-typeB:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodyMain .snsLink-typeB p {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

#pageBodyMain .snsLink-typeB ul {
    margin: 0;
    padding: 0;
}

#pageBodyMain .snsLink-typeB ul li {
    float: left;
    list-style: none;
    margin: 0 0 0 40px;
}

/* サブ記事・リンク部分 */

#pageBodySub {
    margin: 50px auto;
    width: 1200px;
}

#pageBodySub:after {
    content: "";
    clear: both;
    display: block;
}

#pageBodySub .localNavi {
    float: left;
    box-sizing: border-box;
    width: 280px;
}

#pageBodySub .localNavi:nth-child(-n+4) {
    height: 341px;
}

#pageBodySub .localNavi:nth-child(n+5) {
    height: 304px;
    margin-top: 80px;
}

#pageBodySub .localNavi .localNavi-list p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding: 12px 0;
    margin: 0;
}

#pageBodySub .localNavi .localNavi-list p a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
}

#pageBodySub .localNavi .localNavi-list p a:before {
    content: "⟩";
    font-size: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #333333;
}

#pageBodySub .localNavi .localNavi-list p a:hover {
    text-decoration: underline;
}

#pageBodySub .localNavi .localNavi-list ul {
    margin: 0;
    padding: 0;   
}

#pageBodySub .localNavi .localNavi-list ul li {
    list-style: none;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
}

#pageBodySub .localNavi .localNavi-list ul li:first-child {
    margin-top: 13px;
}

#pageBodySub .localNavi .localNavi-list ul li:last-child {
    margin-bottom: 0;
}

#pageBodySub .localNavi .localNavi-list ul li a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
}

#pageBodySub .localNavi .localNavi-list ul li a:before {
    content: "⟩";
    font-size: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #333333;
}

#pageBodySub .localNavi .localNavi-list ul li a:hover {
    text-decoration: underline;
}

/* フッター */
#pageFoot {
    border-top: 1px solid #CCCCCC;
    padding: 70px 0 112px;
}

#pageFoot .footerMenu {
    width: 1000px;
    margin: 0 auto 15px;
    padding: 0;
}

#pageFoot .footerMenu:after {
    content: "";
    clear: both;
    display: block;
}

#pageFoot .footerMenu li {
    list-style: none;
    float: left;
    font-size: 12px;
    border-left: 1px solid #999999;
}

#pageFoot .footerMenu li:first-child {
    border-left: none;
}

#pageFoot .footerMenu li a {
    color: #999999;
    text-decoration: none;
    padding: 0 15px;
}

#pageFoot .footerMenu li a:hover {
    text-decoration: underline;
}
 
#pageFoot .copyright {
    width: 1000px;
    margin: 0 auto;
}

#pageFoot .copyright small {
    font-size: 10px;
    line-height: 1.8px;
    color: inherit;
    padding-left: 15px;
}

/* 右下戻るアイコン */

.pagetop {
    width: 60px;
    height: 60px;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pagetop p {
    margin: 0;
}

.pagetop p a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    padding: 17.5px 22px;
    display: inline-block;
    text-align: center;
}